<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>便利贴</title>
</head>
<body>
    <div id="tips">
        <div id="header">
            <div class="add-manage">
                <a class="add" href="javascript:void(0)">添加</a>
                <a class="manage" href="javascript:void(0)">整理</a>
            </div>
            <div class="user">
                <%if(!user){%>
                <div class="login">
                    <span><a href="javascript:void(0)">github登录</a></span>
                    &nbsp|&nbsp<span><a href="/oauth/jirengu">饥人谷登录</a></span>
                </div>
                <%}else{%>
                <div class="out-msg">
                    <%if(user.avatar){%>
                    <img src="<%=user.avatar%>" alt="">
                    <%}else{%>
                    <div class="userHead"><%=user.username[0]%></div>
                    <%}%>
                    <span class="username"><%=user.username%></span>
                    <a href="/oauth/logout" class="signOut">注销</a>
                </div>
                <%}%>
            </div>
        </div>
        <div id="content"></div>
    </div>

	<script src="/js/index.js"></script>
</body>
</html>
